[submodule "config/.vim/pack/dotfiles/start/rust.vim"]
	path = config/.vim/pack/dotfiles/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "config/.vim/pack/dotfiles/start/neoformat"]
	path = config/.vim/pack/dotfiles/start/neoformat
	url = https://github.com/sbdchd/neoformat.git
[submodule "config/.vim/pack/dotfiles/start/vim-surround"]
	path = config/.vim/pack/dotfiles/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/.vim/pack/dotfiles/start/vim-repeat"]
	path = config/.vim/pack/dotfiles/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
