[submodule "config/.vim/bundle/vim-svelte"]
	path = config/.vim/bundle/vim-svelte
	url = https://github.com/evanleck/vim-svelte
[submodule "config/.vim/bundle/vim-processing"]
	path = config/.vim/bundle/vim-processing
	url = https://github.com/sophacles/vim-processing
[submodule "config/.vim/bundle/vim-arduino"]
	path = config/.vim/bundle/vim-arduino
	url = https://github.com/stevearc/vim-arduino
[submodule "config/.vim/bundle/vim-prettier"]
	path = config/.vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "config/.vim/bundle/typescript-vim"]
	path = config/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "config/.vim/pack/github/start/copilot.vim"]
	path = config/.vim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
