[init]
	defaultBranch = main
[rerere]
	enabled = true
[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	ca = commit --amend
	lg = log --oneline --graph --decorate -20
	lga = log --oneline --graph --decorate --all -20
	df = diff
	dfs = diff --staged
	unstage = reset HEAD --
	last = log -1 HEAD --stat
[include]
	path = ~/.gitconfig.local
