" Vim {{ theme.name }} workstation configuration

set nocompatible
syntax on
filetype plugin indent on
set background=dark
if has('termguicolors') && &t_Co >= 256 && $COLORTERM =~# 'truecolor\|24bit'
  set termguicolors
endif
colorscheme dotfiles
set encoding=utf-8
set number
set ruler
set history=512
set showcmd
set shortmess=a
set nomodeline
set autoread
set mouse=
set backspace=indent,eol,start
set scrolloff=5
set showmatch
set splitbelow
set splitright
set wrap linebreak breakindent showbreak=↪
set expandtab
set tabstop=2
set shiftwidth=2
set softtabstop=2
set autoindent
set hlsearch
set incsearch
set ignorecase
set smartcase
set nowrapscan
set wildmenu
set wildmode=longest:full,full
set noswapfile
set nobackup
set nowritebackup
set undofile
let &undodir = expand('~/.vim/undodir')
if !isdirectory(&undodir)
  call mkdir(&undodir, 'p', 0700)
endif

" Leader must be initialized before any leader mappings.
let mapleader = " "

" Window and editing shortcuts.
nnoremap <C-T> :tabnew<CR>:e .<CR>
nnoremap <C-P> :tabprev<CR>
nnoremap <C-N> :tabnext<CR>
nnoremap <C-W>\| :vsplit .<CR>
nnoremap <C-W>- :split .<CR>
nnoremap <C-h> <C-W>h
nnoremap <C-j> <C-W>j
nnoremap <C-k> <C-W>k
nnoremap <C-l> <C-W>l
nnoremap <C-Q> :q<CR>
inoremap jk <Esc>
nnoremap <leader>w :w<CR>
nnoremap <leader>/ :nohlsearch<CR>
nnoremap <leader>ap :%d _<CR>"0P

" Keep Makefiles and Go tabs intact; Python uses four-space indentation.
augroup DotfilesIndent
  autocmd!
  autocmd BufNewFile,BufRead Makefile,makefile,GNUmakefile,*.go setlocal noexpandtab
  autocmd BufNewFile,BufRead *.py setlocal expandtab tabstop=4 shiftwidth=4 softtabstop=4 filetype=python
  autocmd BufNewFile,BufRead *.tsx setfiletype typescriptreact
  autocmd BufNewFile,BufRead *.jsx setfiletype javascriptreact
augroup END

" :Format is explicit; save-time formatting is opt-in in ~/.vimrc.local.
let g:dotfiles_root = fnamemodify(resolve(expand('<sfile>:p')), ':h:h')
function! DotfilesFormatBuffer() abort
  let l:input = join(getline(1, '$'), "\n") . (&endofline ? "\n" : '')
  let l:command = 'python3 ' . shellescape(g:dotfiles_root . '/scripts/format.py')
        \ . ' --filetype ' . shellescape(&filetype)
        \ . ' --name ' . shellescape(expand('%:p'))
  let l:output = system(l:command, l:input)
  if v:shell_error
    echohl ErrorMsg
    echomsg substitute(l:output, '\n\+$', '', '')
    echohl None
    return
  endif
  let l:lines = split(l:output, "\n", 1)
  if len(l:lines) > 1 && l:lines[-1] ==# ''
    call remove(l:lines, -1)
  endif
  if empty(l:lines)
    let l:lines = ['']
  endif
  call setline(1, l:lines)
  if line('$') > len(l:lines)
    execute (len(l:lines) + 1) . ',$delete _'
  endif
  echo 'Formatted with project configuration when available.'
endfunction
command! Format call DotfilesFormatBuffer()
let g:dotfiles_format_on_save = 0
augroup DotfilesFormatOnSave
  autocmd!
  autocmd BufWritePre * if get(g:, 'dotfiles_format_on_save', 0) | silent! Format | endif
augroup END

" Load user settings last. Absence is normal.
if filereadable(expand('~/.vimrc.local'))
  execute 'source' fnameescape(expand('~/.vimrc.local'))
endif
